body {
	width:80%;
	margin:auto;
	background-color: yellow;
}

a {
	text-decoration: none;
	color: black;
}

h1 {
	border: solid red 2px;
	text-align: center;
	background-color: grey;
}

footer {
   position:fixed;
   bottom:0px;
   height:30px;
   width:inherit;
   margin:inherit;
   background:#999;
   text-align: center;
   color: white;
}

table {
	width:100%;
	text-align: center;
}

.message {
	width: 30%;
	margin: auto;
	text-align: center;
	background-color: #FFFF99;
	border: solid black 1px;
}

#the-admins {
	margin: 2em;
	padding: 2em;
	border: solid grey 3px;
	text-align: center;
}

#the-admins p {
	font-weight: bold;
	font-size: 3em;
	color:pink;
}