* {
	/* border: 1px solid; */
}

body {
	font-family: comic sans ms;
	width: 65%;
	margin: auto;
	margin-top: 4em;
}

header {
   position:fixed;
   top:0px;
   height:5em;
   width:65%;
   margin:auto;
   background:#999;
   text-align: center;
}

footer {
   position:fixed;
   bottom:0px;
   height:30px;
   width:inherit;
   margin:inherit;
   background:#999;
   text-align: center;
   color: white;
}

a {
	text-decoration: none;
	color: black;
}

h1 {
	/* border: solid red 2px; */
	text-align: center;
	background-color: #999;
}

h2 {
	text-align: right;
}

table {
	width:100%;
	text-align: center;
}

.message {
	width: 30%;
	margin: auto;
	text-align: center;
	background-color: #FFFF99;
	border: solid black 1px;
}

#the-admins {
	margin: 2em;
	padding: 2em;
	border: solid grey 3px;
	text-align: center;
}

#the-admins p {
	font-weight: bold;
	font-size: 3em;
	color:pink;
}