body {
	background-color: #eee;
}

/* SIGN IN */
.form-signin {
	margin: auto;
	margin-top: 5em;
	width: 40%;
	background-color: white;
	padding: 2em;
	box-shadow: 5px 5px 9px black;
}

.form-signin input[type="text"] {
	margin-bottom: 0.5em;
}

.form-signin input[type="email"] {
	margin-bottom: 0.5em;
}

.form-signin input[type="password"] {
	margin-bottom: 0.5em;
}

.form-signin input[type="submit"] {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

.form-signin label {
	font-size: 10px;
	font-weight: 100;
}


/* CREATE POLL */

.form-create-poll {
	margin: auto;
	margin-top: 5em;
	width: 80%;
	background-color: white;
	padding: 2em;
	box-shadow: 5px 5px 9px black;
}

.form-create-poll input[type="text"] {
	margin-bottom: 0.5em;
}

.form-create-poll  input[type="email"] {
	margin-bottom: 0.5em;
}

.form-create-poll  input[type="radio"] {
	margin-bottom: 0.5em;
}

.form-create-poll  input[type="submit"] {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

.form-create-poll label {
	font-size: 10px;
	font-weight: 100;
}

/* id[message] */
.message {
	width: 30%;
	margin: auto;
	text-align: center;
	background-color: #FFFF99;
	border: solid black 1px;
}

/* Search box */
#hsearch  {
    background:transparent url("../images/search.png") no-repeat scroll left center;
    margin:0;
    max-width:230px;
    padding-left:40px;
}

/* Errors messages (paragraph) */
p.error {
	font-size: 10px;
	color: red;
}

.answer-radio {
	width: 2em;
}

/* Footer */
footer {
	background-color: grey;
	color: white;
	height: 2.5em;
	text-align:center;
	width: 40%;
	margin-right: 30%;
	margin-left: 30%;
	bottom: 0;
	position: fixed;
}

footer p {
	margin-top: 0.5em;
}